@charset "utf-8";
/* CSS Document */
:root {
    --achievers-red: #ec2026; 
}
body{
	overflow-x: hidden;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*######################## navbar ##########################*/
nav {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000 !important;
}
@media screen and (max-width:768px){
	.navbar-collapse{
		height: 100vh !important;
		text-align: center;
	}
}
/*####################carousel######################################*/

.overlay{
	position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0); /* Black background with opacity */
    z-index: 2;
}
.overlay p{
	text-transform: uppercase;
	font-size: 36pt;
	font-weight: 700;
	position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.carousel-control-prev, .carousel-control-next{
	z-index: 10;
}
.carousel{
	width:100%;
}
#main-head .carousel-inner{
	background: #ec2026;
	width: 100%;
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
	transform: translate(-50%);
	z-index: 2;
}
#main-head .carousel-item {
	mix-blend-mode:darken;
}
#main-head{
	padding-top: 70px;
}
.bigger-img{
	display: flex;
    justify-content: center;
    overflow: hidden;
}

/*####################buttons and links#########################*/
.btn-primary{
	background-color: #ec2026;
	 border-color:#ec2026;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
 a{
	color: #ec2026;
	}
a:hover{
	color: #ff0000;
	text-decoration: underline;
}
.card-link{
	position: absolute;
	bottom:0;
	
}
 /* .card-footer a{
	 text-align: center;
	 
	 color: #fff;
}
 .card-footer:hover{
	 background: #ff0000;
}
.card-footer a:hover{
	color: #fff;
	text-decoration: underline;
} */
.btn-link{
	color: inherit;
	font-size: inherit;
}
.btn-link:hover{
	color: #ec2026;
	text-decoration: none;
}
 .carousel-item {
	 overflow: hidden;
}
   .carousel-item .img-fluid {
            max-width: 100%;
	   margin: auto;
          }
/*##################Logistics page #############################*/

.overlayL{
	position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0); /* Black background with opacity */
    z-index: 2;
}
.overlayL p{
	font-size: 1em;
	position: absolute;
    top: 90%;
    left: 20px;
	
}
.overlayL h3{
	position: absolute !important;
    top: 75%;
    left: 20px;
}

/*######################tables########################*/
td p{
	margin-bottom: 0;
}
.table th, .table td {
	padding: 0.1rem;
}

/*##################CIMA page#######################*/
@media screen and (max-width:768px){
#timetables .list-group{
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

 #timetables .list-group-item {
    flex: 0 0 auto;
	 width: 80%;
  }
}
/*##############MODAL################### */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-image {
    display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    height: 80vh;
}

/* Add Animation 
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
*/
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*##############MODAL################### */
@media (max-width: 768px) {
	.mobile-hide{
		display: none;
	}
	.card-body .card-body {
		padding: 0;
		margin: 0;
	}
	.carousel-item .img-fluid {
		height: 60vh;
            max-width: none;
		 left: 50%;
      position: relative;
      
      -webkit-transform: translateX(-50%);
		transform: translateX(-50%);
          }
}
@media (min-width:1200px){
	.weblink{
		float: right;
	}
}
@media (max-width: 576px) {
	.xs-hide{
		display: none;
	}
}
@media screen and (max-width:348px){
	.navbar-toggler{
		padding: 0.25rem 0.15rem;
	}
	.navbar-toggler-icon{
		    width: 0.9em;
    height: 0.9em;
	}
	
}